

body, html {
  height: 100%;
  line-height: 1.8;
  display: block;
	scroll-behavior: smooth;
}

.top-bar {
	 display: block;
	position:fixed;
	width:100%;
	z-index:1;
	top:0;
	overflow:hidden;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	float:right;
	font-size: 18px;
	font-family: Lonely; 
	padding: 16px;
}
.top-bar-button{
	text-align: center;
	 text-decoration: none;
	padding: 16px;
	width: 100%;
	color: #B86B77;
}
.top-bar-button:hover{
	color: #EABFB9; 
}

.side-bar {
	
}


.header {
	  padding-top:128px;
	  position: relative;
	  background-position: left, right;
	  background-image: url("pic1.jpg"), url("pic1-right.png");
	  background-repeat: no-repeat, no-repeat;
	  background-size: 59%, 42%;
	  height:-webkit-fill-available;

}

.header-right-box {
	position:absolute;
	top:30%;
	left: 60%;
}
.header-headline{
	text-shadow: 1px 1px black;
	font-family: Chopin;
	color: #B86B77;
	font-size: 72px;
}

.header-body-text{
	font-family: Quicksand;
	color: #404040;
	font-size: 26px;
	padding-left: 10px;
	text-align: center;
}

.container-a { 
	display: block;
 min-height: 100%;
	display:inline-block;
	width:auto;
	text-align: center;
	color: black;
	background-color:#fff9f9;
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 300px;
	padding-right: 300px;
}

.container-b{ display: block;
  min-height: 100%;
	display:inline-block;
	width:auto;
	text-align: center;
	color: black;
	background-color:#FFE8E5;
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 300px;
	padding-right: 300px;
}

.container-a-headline {
	font-family: Quicksand;
	color: #B86B77;
	font-size: 60px;
	margin-bottom: 30px;
}

.container-b-headline {
	
	font-family: Quicksand;
	color: #404040;
	font-size: 60px;
	margin-bottom: 30px;
}

.container-body-text{
	display:inline-block;
	text-align: center;
	font-family: Quicksand;
	color: black;
	font-size: 30px;
}

.footer {
	 display: block;
	 text-align: center; 
	 background-color: white; 
	 color: black; 
	 font-size: 20 px;
}

@font-face {
  font-family: 'Lonely';
  src: url('./Lonely-Regular.eot') format('eot'),
  url('./Lonely-Regular.woff2') format('woff2'),
  url('./Lonely-Regular.woff') format('woff'), 
  url('./Lonely-Regular.ttf') format('truetype');	
}

@font-face {
  font-family: 'Quicksand';
  src: url('./QuicksandLight-Regular.eot') format('eot'),
  url('./QuicksandLight-Regular.woff2') format('woff2'),
  url('./QuicksandLight-Regular.woff') format('woff'), 
  url('./QuicksandLight-Regular.ttf') format('truetype');	
}

@font-face {
  font-family: 'Chopin';
  src: url('./ChopinScript.eot') format('eot'),
  url('./ChopinScript.woff2') format('woff2'),
  url('./ChopinScript.woff') format('woff'), 
  url('./ChopinScript.ttf') format('truetype');	
}
