body, html {
  height: 100%;
  line-height: 1.8;
  display: block;
}

body {
	margin: 0%;
}

html {
	display: block;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
}

.header {
	  max-width: 2000px;
	  height:-webkit-fill-available;
	  margin-top:0px;
	  margin-left: auto;
	  margin-right: auto;
	  display: flex;
	  flex-direction: row;
}

.image {
	background-size: cover;
	background-image: url("pic1.jpg");
	width: 100%;
	background-position: 0% 65%;
}

.right-img {
	background-size: cover;
	background-image: url("pic1.jpg");
	width: 59%;
}

.left-img {
	background-size: cover;
	background-image: url("water3.jpg");
	width: 42%;
	margin-left: auto;
	margin-right: auto;

}

.img-container{
	width: 40%;
	width: 40%;
    position: relative;
    left: 50%;
    top: 40%;
	text-align: center;
}

.header-headline{
		top: 50%;
	font-family: Chopin;
	color: white;
	font-size: 5vw;
}

.header-body-text{
	font-family: Quicksand;
	color: white;
	font-size: 2vw;
	padding-left: 10px;
	text-align: center;
}

.container { 
	display: block;
	min-height: 100%;
	min-width: 100%;
	display:inline-block;
	width:auto;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 200px;
	padding-right: 200px;
}


.headline {
	font-family: Quicksand;
	color: #B86B77;
	font-size: 4vw;
	margin-bottom: 30px;
}

.body-text{
	display:inline-block;
	text-align: center;
	font-family: Quicksand;
	color: black;
	font-size: 2vw;
}

.footer {
	 display: block;
	 text-align: center; 
	 background-color: white; 
	 color: #B86B77; 
	 font-size: 20 px;
	 text-decoration: none;
}

@font-face {
  font-family: 'Lonely';
  src: url('./Lonely-Regular.eot') format('eot'),
  url('./Lonely-Regular.woff2') format('woff2'),
  url('./Lonely-Regular.woff') format('woff'), 
  url('./Lonely-Regular.ttf') format('truetype');	
}

@font-face {
  font-family: 'Quicksand';
  src: url('./QuicksandLight-Regular.eot') format('eot'),
  url('./QuicksandLight-Regular.woff2') format('woff2'),
  url('./QuicksandLight-Regular.woff') format('woff'), 
  url('./QuicksandLight-Regular.ttf') format('truetype');	
}

@font-face {
  font-family: 'Chopin';
  src: url('./ChopinScript.eot') format('eot'),
  url('./ChopinScript.woff2') format('woff2'),
  url('./ChopinScript.woff') format('woff'), 
  url('./ChopinScript.ttf') format('truetype');	
}
